body {
  background-image: url('../../images/background.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 90px;
  background-color: #081A40;
  opacity: 0.8;
  box-shadow: 4px 0px 4px #F5F5F5;
  width: 100%;
}


.choose-title, .title-message {
	color: white;
	text-align: left;
}

.team-selection-box {
  text-align: center;
  margin: 20px;
}

.title-message {
    height: 50px;
    line-height: 36px;
    font-size: 22px;
    padding-left: 2px;
}

.team-input {
  font-size: 16px;
  width: 10%;
  padding: 10px;
  display: inline;
  background-color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  &:hover {
    background-color: lighten(#659A41, 20%);
    color: #081A40;
  }
}


.header-block {
  float: left;
  background-image:linear-gradient(45deg,rgba(255,255,255,0),rgba(255,255,255,.1));
  background-color: #081A40;
  // background: linear-gradient(45deg, #081A40 , lighten(#081A40, 10%));
  height: inherit;
  box-sizing: border-box;
  //border: 0.5px solid white;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 32px;
  letter-spacing: 2px;
}

.info-message {
  @extend .header-block;
  padding: 15px 10px 5px 15%;
  width: 85%;
  box-sizing: border-box;
}


.match-engine, .away-team, .home-team, .timer {
  display: none;
}

.timer {
  @extend .header-block;
  width: 15%;
  text-align: center;
  font-weight: 400;
  background-image: url('../../images/clock-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: #484848;
}

.changing-minutes {
  margin-top: 10px;
  height: 36px;

}

.mins {
  font-size: 20px;
  margin-top: 10px;
}

.away-team, .home-team {
  @extend .header-block;
  width: 35%;

}

.home-team .team-name, .home-team .score {
  float: right;
}

.away-team .team-name, .away-team .score {
  float: left;
}

.team-name {
  margin: 10px;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 56px;
  padding: 2px;
}

.score {
  background-color: white;
  color: black;
  font-size: 38px;
  margin: 10px;
  padding: 2px 20px;
  font-weight: 400;
  line-height: 56px;
  width: 38px;
  text-align: center;
  border: 2px solid black;
}

.primary-button {
  @extend .header-block;
  outline: 0;
  background-color: #659A41;
  width: 15%;
  cursor: pointer;
  font-weight: 300;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: lighten(#659A41, 20%);
    color: #081A40;
  }
}

.commentary-box {
	background: #081A40;
	opacity: 0.9;
	padding: 25px;
	color: #E5E5E5;
	font-size: 36px;
	text-align: center;
	height: 38px;
	letter-spacing: 3px;
	margin: 5px auto;
}

.home-events, .away-events {
  width: 40%;
	min-height: 200px;
	opacity: 0.75;
	padding: 25px;
	color: #E5E5E5;
	margin: 3%;
	font-size: 16px;
	letter-spacing: 1.75px;
}

.reported-content {
  display: flex;
  background: #232323;
  width: 100%;
  opacity: 0.9;
  margin-top: 30px;

}

.possession-bar {
	background: white;
	width: 100%;
	height: 20px;
	margin: 20px auto;
}

.home-bar {
    width: 50%;
    height: 20px;
    background: #081A40;
    height: 100%;
}
