@import 'mixins';

// Inital Display values of main divs

.match-engine, .away-team, .home-team, .timer {
  display: none;
}

// Extended stylings

.header-block {
  float: left;
  background-image:linear-gradient(45deg,rgba(255,255,255,0),rgba(255,255,255,.1));
  background-color: #081A40;
  height: inherit;
  box-sizing: border-box;
  color: white;
  font-size: 32px;
  letter-spacing: 2px;
}

.button-styling {
  font-size: 16px;
  padding: 10px;
  display: inline;
  outline: 0;
  cursor: pointer;
  &:hover {
    background-color: lighten(#081A40, 20%);
    color: white;
    @include box-shadow(2px, 2px, 2px, #888888);
  }
}

// Global Styling

html, body {
  height: 100%;
}

body {
  background-image: url('../../images/new-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 90px;
  background-color: #081A40;
  @include box-shadow(4px, 0px, 4px, #F5F5F5);
  width: 100%;
  header:after {
  	content: '';
  	clear: both;
  	display: block;
	}
}

.primary-button {
  @extend .primary-button;
  @extend .header-block;
  border: none;
  outline: 0;
  background-color: #659A41;
  width: 15%;
  &:hover {
    background-color: lighten(#659A41, 20%);
    color: #081A40;
  }
}

// Team Selection Page (Initial Page)

.game-logo {
  @extend .header-block;
  width: 15%;
  text-align: center;
  font-weight: 400;
  background-image: url('../../images/trophy.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-color: #484848;
}

.logo-name div {
  font-size: 22px;
  line-height: 20px;
}

.title-message {
    height: 50px;
    line-height: 36px;
    font-size: 22px;
    padding-left: 2px;
}

.choose-title, .title-message {
	color: white;
	text-align: left;
}

.info-message {
  @extend .header-block;
  padding: 15px 10px 5px 25px;
  width: 70%;
  box-sizing: border-box;
}

button:disabled {
    background: #dddddd;
    cursor: not-allowed;
    &:hover {
      background: #dddddd;
      color: white;
    }
}

.logo-display {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  span {
    display: none;
    color: #dddddd;
    font-size: 346px;
    position: absolute;
    font-weight: 600;
    transform: translate(40%,0%);
    opacity: 0.2;
    z-index: -1;

  }
  img {
    display: none;
    margin: 20px 60px;
    height: 300px;

  }
}

.team-selection-box {
  text-align: center;
  margin: 20px;
}

.footnote {
  text-align: center;
  color: white;
  font-weight: 600;
  float: left;
  position: absolute;
  bottom: 10px;
  left: 30px;
  p {
    padding: 5px;
  }
  i {
    color: white;
  }
}

.button-bar {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.team-input {
  @extend .button-styling;
  background-color: #fff;
  border: 1.5px solid #081A40;
}

.select-btn {
  @extend .button-styling;
  width: 150px;
  border: 1.5px solid #081A40;
  background-color: #fff;
}

.go-back {
  @extend .button-styling;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 5px;
  color: white;
  background-color: #081A40;
  width: 120px;
  border: none
}

// Setup Tactics Page

// Setup Tactics Page -> Player Table

.team-sheet {
  float:left;
  margin-left: 10px;
}

.player-selection-box {
  width: 65%;
  float: left;
  margin: 20px 20px 5px 5px;
}

.player-line:nth-of-type(even) {
    background: lighten(#3A3A3A,10%);
    color: #F5F5F5;
    opacity: 1;
    border-bottom: 0.1px solid lighten(#F5F5F5, 60%);
    padding-right: 5px;
    &:hover {
      background: #3A3A3A;
    }
}

.player-line:nth-of-type(odd) {
    background: #3A3A3A;
    color: #F5F5F5;
    opacity: 1;
    border-bottom: 0.1px solid lighten(#F5F5F5, 60%);
    padding-right: 5px;
    &:hover {
      background: lighten(#3A3A3A,10%);
    }
}

.starting {
  display: inline-block;
  width: 8%;
  padding: 15px 5px;
  text-align: center;
}

.player-name {
  width: 20%;
  display: inline-block;
  padding: 10px;
}

.player-position {
  width: 20%;
  display: inline-block;
  padding: 10px;
}

.player-stat-heading {
    width: 3%;
    display: inline-block;
    text-align: center;
    padding: 9px;
    margin: 5px;
}
.player-stat {
    width: 3%;
    display: inline-block;
    text-align: center;
    padding: 9px;
    background: #9b9b9b;
    @include border-radius(24px);
    margin: 5px;
}

// Setup Tactics Page -> Pitch Map

.formation {
  margin-left: 8px;
}

.dropdown-formation {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.team-display {
  width: 340px;
  height: 440px;
  margin-top: 20px;
  padding-top: 30px;
  @include border-radius(4px);
  text-align: center;
  background-image: url('../../images/pitch.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.player-block {
  padding: 4px;
  text-align: center;
  word-wrap: break-word;
  color: black;
  display: inline-block;
  background: rgba(230,230,230,0.75);
  margin: 5px;
  @include border-radius(2px);
}

.team-selection-warning {
  border: 3px solid red;
  background: lighten(red,30%);
  width: 80%;
  margin: 0 auto;
  @include border-radius(5px);
  line-height: 55px;
  font-size: 24px;
}

.team-setup {
  display: none;
  width: 100%;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.seperate-players {
  height: 60px
}

// In-Play Player stylings

.ejected, .injured, .subbed-off {
  color: white;
  background: lighten(#A91101, 20%) !important;
  pointer-events: none;
}

.subbed-on {
  color: white;
  background: lighten(#006400, 10%) !important;
  pointer-events: none;
}

.warning {
  color: white;
  background: orange;
}

.yellow {
  color: black;
  background: yellow;
}

// Match Page -> Header bar (timer, score, play/pause button)

.timer {
  @extend .header-block;
  width: 15%;
  text-align: center;
  font-weight: 400;
  background-image: url('../../images/clock-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #484848;
}

.changing-minutes {
  margin-top: 10px;
  height: 36px;
}

.mins {
  font-size: 20px;
  margin-top: 10px;
}

.away-team, .home-team {
  @extend .header-block;
  width: 35%;
}

.home-team .team-name, .home-team .score {
  float: right;
}

.away-team .team-name, .away-team .score {
  float: left;
}

.team-name {
  margin: 10px;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 56px;
  padding: 2px;
}

.score {
  background-color: white;
  color: black;
  font-size: 38px;
  margin: 10px;
  padding: 2px 20px;
  font-weight: 400;
  line-height: 56px;
  width: 38px;
  text-align: center;
  border: 2px solid black;
}

// Match Page -> Header bar (possession-bar, commentary text, events)

.possession-bar {
	background: white;
	width: 100%;
	height: 20px;
	margin: 20px auto;
}

.home-bar {
    width: 50%;
    height: 20px;
    background: #081A40;
    height: 100%;
}

.commentary-box {
	background: #081A40;
	padding: 25px;
  height: 45px;
	color: #E5E5E5;
	font-size: 36px;
	text-align: center;
	letter-spacing: 3px;
	margin: 5px auto;
  line-height: 42px;
}

.reported-content {
  display: flex;
  background: rgba(35,35,35,0.9);
  width: 100%;
  margin-top: 30px;
}


.home-events, .away-events {
  width: 40%;
	min-height: 250px;
	padding: 25px;
	color: white;
	margin: 3%;
	font-size: 16px;
	letter-spacing: 1.75px;
  i {
   font-size: 22px;
   padding-top: 5px;
  }
}

.event {
  font-size: 24px;
  padding-top: 5px
}


// Styling taken from Codepen
// https://codepen.io/ajimix/pen/svKaL

.wrapper {
  background: #fff;
  color: #081A40;
  width: 180px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 30px;
  border: 1.5px solid #081A40;
}
  .wrapper:after {
  	content: '';
  	clear: both;
  	display: block;
	}
	.wrapper > span {
  	font-weight: bold;
  	font-size: 1.1em;
  	float: left;
	}

.slider-toggle {
  display: none;
  visibility: hidden;
}

.slider-button,
.slider-content,
.slider {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.slider-viewport {
  border: 1px solid #858585;
  display: block;
  height: 20px;
  overflow: hidden;
  width: 65px;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  float: right;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.slider {
  height: 100%;
  position: relative;
  width: 200%;
}

.slider-button {
  background-size: 100%;
  background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #fff 99%);
  background: -webkit-linear-gradient(top, #e6e6e6 0%,#fff 99%);
	background: -o-linear-gradient(top, #e6e6e6 0%,#fff 99%);
	background: -ms-linear-gradient(top, #e6e6e6 0%,#fff 99%);
	background: linear-gradient(to bottom, #e6e6e6 0%,#fff 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fff',GradientType=0 );
  -webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  height: 20px;
  width: 30px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.slider-content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px inset;
  background: rgba(157, 38, 29, 0.5);
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 100%;
  width: 64px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  top: 10px;
}
  .slider-content span {
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
    height: 100%;
    line-height: 20px;
    float: left;
	}

.left {
  background: #3b679e;
	background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );
  background-size: 100%;
}
.slider-viewport.light .left {
  background: #aebcbf;
	background: -moz-linear-gradient(top,  #5b5b5b 0%, #5b5b5b 50%, #0a0e0a 51%, #0a0809 100%);
	background: -webkit-linear-gradient(top,  #5b5b5b 0%,#5b5b5b 50%,#6e7774 51%,#aebcbf 100%);
	background: -o-linear-gradient(top,  #5b5b5b 0%,#5b5b5b 50%,#0a0e0a 51%,#0a0809 100%);
	background: -ms-linear-gradient(top,  #5b5b5b 0%,#5b5b5b 50%,#0a0e0a 51%,#0a0809 100%);
	background: linear-gradient(to bottom,  #5b5b5b 0%,#5b5b5b 50%,#0a0e0a 51%,#0a0809 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#0a0809', GradientType=0 ); }
	.left span {
  	margin: 0 10px;
	}

.right {
  background: #fff;
	background: -moz-linear-gradient(top,  #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
	background: -webkit-linear-gradient(top,  #fff 0%,#f3f3f3 50%,#ededed 51%,#fff 100%);
	background: -o-linear-gradient(top,  #fff 0%,#f3f3f3 50%,#ededed 51%,#fff 100%);
	background: -ms-linear-gradient(top,  #fff 0%,#f3f3f3 50%,#ededed 51%,#fff 100%);
	background: linear-gradient(to bottom,  #fff 0%,#f3f3f3 50%,#ededed 51%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=0 );
	color: #595959;
  background-size: 100%;
  -webkit-box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, .5);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .4);
}
  .right span {
    float: right;
  	margin: 0 6px;
	}

.slider-toggle + .slider-viewport > .slider {
  left: -100%;
}

.slider-toggle + .slider-viewport .slider-button {
  left: 65px;
}

.slider-toggle + .slider-viewport .slider-content {
  width: 65px;
}

.slider-toggle + .slider-viewport .left {
  margin-left: 0;
}

.slider-toggle:checked + .slider-viewport > .slider {
  left: 0;
}

.slider-toggle:checked + .slider-viewport .slider-button {
  left: 35px;
}

.slider-toggle:checked + .slider-viewport .left {
  margin-left: 0;
}

// Responsive styling for smaller screens

@media screen and (max-width: 1050px) {

  .choose-title {
    font-size: 26px;
  }

  .title-message {
    font-size: 16px;
  }

  .team-name {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .score {
    font-size: 28px;
    padding: 2px 10px;
    width: 28px;
  }

  .logo-name {
    font-size: 18px;
    line-height: 30px;
  }

  .player-selection-box {
    float: none;
    width: 65%;
    margin: 10px auto;
  }

  .team-display {
    display: none;
  }

  .player-selection-box {
    width: 75%;
    margin: 10px auto;
  }

}

@media screen and (max-width: 800px) {
  .header-block {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .logo-display {
    display: none;
  }

  .team-selection-box {
    clear: both;
  }


  .team-input {
    width: 50%;
    margin-bottom: 10px;
  }

  .timer {
    background-image: none;
  }

  .primary-button, .timer {
    clear: both;
    height: 35px
  }

  .away-team, .home-team {
    width: 50%;
    height: 50px;
  }

  .team-name {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 26px;
    padding: 2px;
  }

  .score {
    color: black;
    font-size: 20px;
    padding: 2px 10px;
    line-height: 26px;
    width: 18px;
    border: 1px solid black;
  }

  .game-logo {
    display: none;
  }

  .commentary-box {
    font-size: 22px;
    padding: 10px;
    height: 30px;
    line-height: 28px;
  }

  .home-events, .away-events {
    width: 45%;
  	margin: 1%;
  	font-size: 16px;
  	letter-spacing: 1px;
    line-height: 24px;
  }

  .home-events i, .away-events i {
    font-size: 16px;
  }

  .select-btn {
    margin-top: 10px;
  }

  .player-selection-box {
    float: none;
    width: 95%;
    margin: 10px auto;
  }

  .go-back {
    clear: both;
    position: fixed;
    bottom: 5px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .choose-title {
    font-size: 24px;
  }

  .title-message {
    font-size: 12px;
  }

  .team-name {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2px;
  }

  .home-events, .away-events {
    width: 50%;
  	padding: 5px 5px 5px 10px;
  	font-size: 12px;
  }

  .home-events i, .away-events i {
    font-size: 12px;
  }

  .commentary-box {
    font-size: 16px;
    padding: 15px 1px;
  }

  .player-name, .player-position {
    width: 12%;
  }

  .player-stat-heading, .player-stat {
    float: right;
  }
}

@media screen and (max-width: 640px) {
  .player-stat-heading, .player-stat {
    padding: 4px;
    margin: 11px 4px;
  }

}

@media screen and (max-width: 420px) {
  .player-selection-box {
    font-size: 13px;
  }

  .footnote {
    display: none;
  }
}
